@import "tailwindcss";
@import "./gilroy-font.css";

:root {
  /* Colours */
  --background: #ffffff;
  --background-counter: #f0f4f7;
  --link: #0000ee;
  --primary: #4e2fd2;
  --primary-foreground: #edf4ff;
  --secondary: #1f1f1f;
  --secondary-foreground: #1f1f1fbf;
  --secondary-heading: #0b0d10;
  --secondary-muted: #a8b2bd;
  --price: #575757;
  --label: #484848;
  --danger: #d8392b;
  --success: #0aa288;
  --chosen: #1df0bb0a;
  --counter-muted: #e6ebf0;
  --border-primary: #4e2fd2b2;
  --border-chosen: #0aa288;
  --border-muted: #cccccc;

  /* Radius */
  --radius-base: 10px;
}

@theme inline {
  /* Colours */
  --color-background: var(--background);
  --color-background-counter: var(--background-counter);
  --color-link: var(--link);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-heading: var(--secondary-heading);
  --color-secondary-muted: var(--secondary-muted);
  --color-price: var(--price);
  --color-label: var(--label);
  --color-danger: var(--danger);
  --color-success: var(--success);
  --color-chosen: var(--chosen);
  --color-counter-muted: var(--counter-muted);
  --color-border-primary: var(--border-primary);
  --color-border-chosen: var(--border-chosen);
  --color-border-muted: var(--border-muted);

  /* Fonts */
  --font-sans: "Gilroy", sans-serif;

  /* Font sizes */
  --text-10px: 10px;
  --text-22px: 22px;
  --text-32px: 32px;

  /* Radius */
  --radius-base: 10px;

  /* Spacing */
  --spacing-11px: 11px;
  --spacing-13px: 13px;
  --spacing-15px: 15px;
  --spacing-49px: 49px;
  --spacing-122px: 122px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --background-counter: #f0f4f7;
    --link: #0000ee;
    --primary: #4e2fd2;
    --primary-foreground: #edf4ff;
    --secondary: #1f1f1f;
    --secondary-foreground: #1f1f1fbf;
    --secondary-heading: #0b0d10;
    --secondary-muted: #a8b2bd;
    --price: #575757;
    --label: #484848;
    --danger: #d8392b;
    --success: #0aa288;
    --chosen: #1df0bb0a;
    --counter-muted: #e6ebf0;
    --border-primary: #4e2fd2b2;
    --border-chosen: #0aa288;
    --border-muted: #cccccc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gilroy", sans-serif;
}
